body {
  font-family: Arial, sans-serif;
  background-color: rgb(181, 196, 207);
  margin: 0;
}

.container {
  display: flex;
  background-color: #a2c2d2;

}

header {
  background-color: rgb(193, 213, 211); 
  color: rgb(87, 86, 86);
  border: 1px solid rgb(217, 211, 211);
  display:flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  min-height: 50px;
} 

h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
main{
  background-color:rgb(154, 183, 186);
  display: flex;
  justify-content: center;
}
.links{
  position: relative;

}

.photo {
  width: 150px;
  height: 150px;
  border: 3px solid ;   
  border-radius: 50%;      
  margin-bottom: 100px;
  object-fit:cover;
}

.contact {
  background: rgb(193, 212, 210);
  padding: 15px;
  border-radius: 30px;
  border: 1px solid;
  color:rgb(96, 104, 105);
}

h2{
  color:rgb(44, 47, 49);
}

.right{
  
    justify-content: space-between;
}

.right section{
  border: 1px solid #96b3c2;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  text-decoration-style: dashed;
  color:rgb(74, 93, 91);
 
}
footer{
  margin-top: 3rem;
  text-align: center;
  width: 100%;
}
.left{
    width:30% ;
    color:paleturquoise;
}
.dark{
  background-color: black;
  color: white;
}
.links a{
  display:none;
}

 
@media(min-width:700px) {
  select{
    display: none;
  }
  .links a{
  display:initial;
}
}
